import pytest

from {{ package_name }} import greet


def test_greet_default():
    assert greet() == "Hello, world!"


@pytest.mark.parametrize("name", ["reader", "{{ package_name }}", ""])
def test_greet_name(name):
    assert greet(name) == f"Hello, {name}!"
